* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.top-nav {
  overflow: hidden;
  height: 3rem;

  background: #4219a8;
}

main {
  overflow: auto;
  flex: 1 0;

  background: #999;
}

header {
  overflow: hidden;
  position: relative;
  height: calc(100vh - 5rem);

  background: url("http://lorempixel.com/g/1000/1000/technics")
    no-repeat center center fixed;
  background-size: cover;

  color: white;
}

header .container {
  position: relative;
  top: 60%;
}

.hero {
  position: absolute;
  bottom: 40%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 3rem;

  text-align: center;
}

button {
  margin-top: 1rem;
  padding: 0;
  border: solid rgba(100, 100, 100, 0.5) 0.5rem;

  background: none;

  color: white;
  font-size: 1.2em;
}

button span {
  display: block;
  padding: 0.5rem;
  background: #4219a8;

}

.three-up {
  padding-top: 1rem;
}

.three-up .icon {
  border: 1px white solid;
  border-radius: 50%;

  background: #bbb;
}

header .three-up:hover {
  background: rgba(100, 100, 100, 0.5);
}

/* Grid Things */

.container {
  display: flex;
  flex-wrap: wrap;

  margin: auto;
  max-width: 1040px;
}

.three-up {
  margin: 20px;

  flex: 1 0 calc(100% / 3 - 40px);
  text-align: center;
}

article {
  background: white;
}

.site-info {
  overflow: auto;
  padding: 2rem;

  background: #bbb;

  text-align: center;
}

.site-info p {
  margin: 0;

  font-size: 1.6rem;
}

.footer-nav {
  overflow: auto;
  background: #000;
  color: white;
}
